body{
    font-family:'Courier New', Courier, monospace;
    padding:o;
    background-color: whitesmoke;
    text-align: center;
    margin: 20px;
}

h1{
    text-align: center;
    color:black
}

form{
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0cap;
    padding: 20px;
    margin: auto;
}

fieldset{
    border: 1;
    border-radius: 8px;
    border-color: blueviolet;
    background-color: azure;   
}

legend{
    font-weight: bold;
    text-align:left;
    color:black;

}

label{
    display:block;
    margin-top: 10cap;
    color: black;
    text-align: left;
}
input,textarea{
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
    padding: 8px;
    width:calc(100% - 1px);
}

button{
    background-color: beige;
    display: block;

}

button:hover{
    background-color: aquamarine;
}
#resume-display{
    max-width: 600px;
    margin:auto;
    padding:20px;
    border: 2px;
    border-radius: 8px;
    background-color: azure;
}
#resume-form{
    color: black;
}
